svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

.title-text {
    display: inline-block;
    position: relative;
    width: 105%;
    padding-bottom: 11vh;
    vertical-align: middle;
    overflow: hidden;
  }