.search-container {
    display: flex;
    justify-content: center;
}
.search-input{
    width: 70%;
    padding: 8px;
    border-radius: 20px;
}

.user-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
}

.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
}